.App {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}

.list {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.auroraSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.control {
  margin: 10px;
}

