.footer {
  display: flex;
  width: 100%;
  background-color: #111111;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .cover {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.bar {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.playerControl {
  padding: 5px;
  margin-left: 5px;
  justify-content: flex-start;
}

.iconLicense {
  align-self: flex-end;
}

.title {
  padding: 5px;
}

.button {
  max-height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.title {
  align-self: center;
  min-width: 150px;
  max-width: 250px;
}

.volume {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.position {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.sliderContainer {
  width: 300px;
  margin-right: 3px;
}

.positionContainer {
  width: 300px;
  margin-right: 3px;
}
