.auroraControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  background-color: #222222;
  border-radius: 20px;
}

.list {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
