.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.playerControl {
  justify-content: flex-start;
}

.iconLicense {
  align-self: flex-end;
}

.button {
  max-height: 64px;
}

.title {
  min-width: 150px;
  max-width: 250px;
}
