.auroraSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}

.onoffswitch {
  position: relative;
  width: 84px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 23px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 40px;
  padding: 0;
  line-height: 40px;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "";
  padding-left: 9px;
  background-color: #FF8F33;
  color: #A81212;
}

.onoffswitch-inner:after {
  content: "";
  padding-right: 9px;
  background-color: #9E9E9E;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 33px;
  margin: 3.5px;
  background: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 23px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
