.track {
  padding: 5px;
  color: black;
  font-size: 20px;
  border: solid black 1px;
}

.trackInfoContainer {
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.cover {
  max-height: 64px;
  padding-left: 5px;
  padding-right: 5px;
}

.trackInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.trackInfoText {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  max-width: 500px;
}

.directory {
  color: black;
}