.track {
  padding: 5px;
}

.trackInfoContainer {
  display: flex;
  flex-direction: row;
}

.cover {
  max-height: 64px;
  padding-left: 5px;
  padding-right: 5px;
}

.trackInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.trackArtist {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  width: 150px;
  align-self: flex-start;
}

.trackTitle {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.trackLength {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  align-self: flex-end;
}

.directory {
}